.button{
    background-color: bisque;
    color: brown;
    font-size: large;
    padding:10px;
    border: 1px solid brown;
    box-sizing: border-box;
    border-radius: 20px;
    cursor:pointer;
}

.button:hover,button:active{
    background-color: brown;
    color: bisque;
}

.button:focus{
    outline:30px;
}