.user-form{
    display:flex;
    flex-direction: column;
    z-index: 1;
}

.field{
    margin:10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.field label{
    color: brown;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bolder;
    font-size: xx-large;
    box-sizing: border-box;
    width: 15%;
}

.field.invalid label{
    color: red;
}

.field input{
    color: brown;
    margin: 10px;
    font-size: xx-large;
    width: 85%;
    flex:1;
    box-sizing: border-box;
}

.field.invalid input{
    border: 5px solid red;
    background-color: bisque;
}

.action{
    margin:20px;
}
